* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hidden {
  display: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

#splash-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  backdrop-filter: blur(5px) saturate(0%);
  background-color: rgba(17, 25, 40, 0.8);
  -webkit-backdrop-filter: blur(5px) saturate(0%);
}

.splash-screen-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#alert {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  padding: 10px 30px;
  border-radius: 25px;
  margin: 10px 0 0 10px;
  background-color: #4caf50;
}

.title-container {
  margin-bottom: 60px;
}

.title {
  color: black;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 8px;
}

#play {
  width: 180px;
  height: 70px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 32px;
  font-weight: 600;
  border-radius: 20px;
  background-color: #007bff;
}

#play:hover {
  background-color: #056bd8;
}

header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.score-container {
  margin-bottom: 20px;
}

#score {
  font-size: 64px;
  font-weight: 900;
}

.timer-container {
  margin-bottom: 5px;
}

#timer {
  font-size: 24px;
  font-weight: 500;
  color: #686868;
}

.progress-bar {
  width: 100%;
  height: 8px;
  max-width: 800px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #e0e0e0;
}

#progress {
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background-color: #007bff;
  transition: width linear 1s;
}

#progress.right {
  background-color: #4caf50;
}

#progress.wrong {
  background-color: tomato;
}

main {
  flex: 3;
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

#game-container {
  gap: 15px;
  display: flex;
  max-width: 70%;
  flex-wrap: wrap;
  height: fit-content;
  align-items: center;
  position: relative;
  justify-content: center;
}

.password {
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  width: fit-content;
  padding: 15px 35px;
  border-radius: 25px;
  background-color: #007bff;
  transition: background-color 0.1s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.password:hover {
  background-color: #056bd8;
}

footer {
  flex: 1;
}

.powers-container {
  gap: 25px;
  display: flex;
  margin-top: 5px;
  align-items: start;
  justify-content: center;
}

.power {
  width: 90px;
  height: 90px;
  display: flex;
  border-radius: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  transition: background-color ease 0.3s;
}

.power.enabled {
  background-color: #4caf50;
}

.helper {
  top: -3px;
  right: -3px;
  width: 25px;
  height: 25px;
  display: flex;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  outline: thick #fff solid;
}

.key {
  bottom: -30px;
  font-size: 22px;
  font-weight: 600;
  color: #686868;
  position: absolute;
}

.power-text {
  font-size: 28px;
  font-weight: 900;
  color: #686868;
  transition: color ease 0.3s;
}

.power.enabled .power-text {
  color: #1c511e;
}

.tooltip {
  left: 50%;
  z-index: 1;
  opacity: 0;
  padding: 15px;
  bottom: 125%;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: -60px;
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  transition: opacity 0.3s;
  background-color: #555;
}

.tooltip span:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.tooltip span:nth-child(2) {
  font-weight: 200;
  margin-bottom: 15px;
}

.tooltip span:nth-child(3) {
  font-style: italic;
}

.helper:hover + .tooltip {
  opacity: 1;
  visibility: visible;
}

.result-container {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: none;
  justify-content: center;
  position: absolute;
  overflow-y: scroll;
}

#result-close {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  font-weight: 600;
  right: calc(-100% + 36px);
  background-color: tomato;
  cursor: pointer;
  color: #fff;
}

.result-card {
  width: 80%;
  height: fit-content;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.result-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.result-header span:nth-child(1) {
  font-size: 48px;
  font-weight: 900;
}

.result-header span:nth-child(2) {
  font-size: 72px;
  font-weight: 900;
  color: #007bff;
}

.result-powerup {
  width: 100%;
  padding: 0 60px;
}

.result-powerup span:nth-child(1) {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 40px;
}

.result-powerup-row {
  gap: 50px;
  display: flex;
  margin-top: 40px;
}

.powerup-card {
  flex: 1;
  display: flex;
  padding: 20px;
  position: relative;
  border-radius: 15px;
  flex-direction: column;
  background-color: #007bff;
  color: #fff;
}

.powerup-usage {
  top: -30px;
  right: -30px;
  width: 80px;
  height: 80px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  background-color: #007bff;
  border: #fff 15px solid;
}

.powerup-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.result-passwords {
  flex: 1;
  margin-top: 40px;
}

.result-lane-titles,
.result-lanes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.result-lane-titles span {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 40px;
}

.result-lanes {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.result-password-card {
  padding: 20px;
  border-radius: 15px;
  position: relative;
  max-width: 400px;
  width: 100%;
  background-color: #d0d0d0;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#result-wrong-lane div span.rptype {
  background-color: tomato;
}

#result-right-lane div span.rptype {
  background-color: #4caf50;
}

#result-wrong-lane,
#result-right-lane {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.rptype {
  position: absolute;
  top: -10px;
  right: 10%;
  padding: 5px 15px;
  border-radius: 15px;
  outline: thick #fff solid;
}

.rptitle {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  align-self: center;
  margin-bottom: 10px;
}

#result-password-tips {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  justify-content: center;
}

.rptip {
  width: fit-content;
  background-color: #007bff;
  color: #fff;
  padding: 2px 15px;
  border-radius: 15px;
}
